.tiktok-container {
  height: calc(100vh - 70px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.tiktok-section {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
}

.tiktok-arrows {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.tiktok-arrows button {
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}

@media (max-width: 900px) {
  .tiktok-arrows {
    display: none;
  }
}
