.input-field {
  width: 100%;
  position: relative;
  display: block;
}

.input-field span {
  color: var(--green-color);
  font: 13px "Goldman", sans-serif;
  position: absolute;
  top: 0px;
  left: 12px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.input-field input {
  font-family: "Goldman", sans-serif;
  font-size: 14px;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 0 23px 0 #00ffa3;
  background: transparent;
  border: none;
  width: 100%;
  padding: 12px;
}

.input-field input::placeholder {
  font-family: "Goldman", sans-serif;
  font-size: 14px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.input-field input:focus,
.input-field input:active {
  box-shadow: 0 0 23px 0 #00c8ff;
}

.input-field input:focus,
.input-field input:active,
.input-field input.populated {
  padding-top: 28px;
}

.input-field input:focus::placeholder,
.input-field input:active::placeholder,
.input-field input.populated::placeholder {
  color: transparent;
}

.input-field input:focus + span,
.input-field input:active + span,
.input-field input.populated + span {
  opacity: 1;
  top: 8px;
}

.checkbox {
  margin-left: 12px;
  width: 100%;
  font-family: "Goldman", sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
}

.checkbox a {
  text-decoration: none;
  color: white;
}
