.main-info-about-profile {
  margin: 100px auto;
  width: calc(100% - 32px);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.main-info-about-profile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.main-info-about-profile h1 {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.main-info-about-profile p {
  font-size: 16px;
  color: white;
  text-align: center;
}
